# fly.toml app configuration file generated for mental-math-trainer-backend on 2025-11-19T01:33:45-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mental-math-trainer-backend'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  DB_SSLMODE = 'require'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 1000
    soft_limit = 850

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  size = 'shared-cpu-1x'

[deploy]
  max_unavailable = 1
